.main {
  display: flex;
}

.num {
  width: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.lie {
  width: 100%;
  height: 100%;
}

.mapNum {
  width: 15px;
  text-align: center;
}
