.main {
  padding: calc(40 / 32 * 1rem);
  position: relative;
}

.times {
  position: fixed;
  top: calc(80 / 32 * 1rem);
  left: calc(550 / 32 * 1rem);
  font-size: calc(36 / 32 * 1rem);
  color: #b50000;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.times > span:nth-child(1) {
  font-size: calc(40 / 32 * 1rem);
  line-height: calc(40 / 32 * 1rem);
  color: #ff3000;
}

.question {
  display: flex;
  align-items: center;
  margin-top: calc(30 / 32 * 1rem);
  font-size: calc(40 / 32 * 1rem);
}

.question > div:nth-child(1){
  min-width: calc(250 / 32 * 1rem);
}

.question > .answerInput {
  width: calc(100 / 32 * 1rem);
  margin-left: calc(10 / 32 * 1rem);
}

.question .answerText {
  color: #b99674;
  font-size: calc(30 / 32 * 1rem);

}

.youAnswer {
  display: flex;
}

.youAnswer > img:nth-child(1) {
  width: calc(40 / 32 * 1rem);
  margin-left: calc(40 / 32 * 1rem);
}

.submitBtn {
  position: fixed;
  right: calc(50 / 32 * 1rem);
  bottom: calc(100 / 32 * 1rem);
}